<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

  </configSections>
  <appSettings>
    <add key="TableName" value="ContractAccount"/>  
    <add key="NewSyncFile" value="C:\AEO\Sync\New Sync 3.csv"/>
    <add key="FilePath" value ="C:\AEO\Sync\Logs\" />
    
    <!-- Test -->
    <!--<add key="StorageAccountKeyValue" value="wAC6/mG9cqPa+zvSYiXYfZ9aGw7fVantjcib5ynMMJ+LP5ielGDoN1rDrXRcN+e7ACNyoumKZcQrRCVtXrz4xQ==" />
    <add key="StorageAccountName" value="apiagltest" />-->
    
  
    <!-- PROD -->
    <add key="StorageAccountKeyValue" value="CrLRenM74B9LX9SlypX/h+jUOFU5qZbYzb3TMqBs5ov2Q2p8kRsd7pEFR+lgswBc5/hXQ55MoPIqWbOze67YAA==" />
    <add key="StorageAccountName" value="apiagl" />
  
  
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy proxyaddress="http://proxy.agl.int:8080" />      
    </defaultProxy>
  </system.net>
</configuration>